[submodule ".registry"]
	path = .registry
	url = https://github.com/stephenturner/stephenturner.r-universe.dev
	branch = HEAD
[submodule "pracpac"]
	path = pracpac
	url = https://github.com/signaturescience/pracpac
[submodule "tfboot"]
	path = tfboot
	url = https://github.com/colossal-compsci/tfboot
